.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.navbar{
     background-color: black;
     margin: 0px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.items{
    padding: 1.5rem 0;
    margin: auto;
    list-style-type: none;
}
a:hover{
    color: rgb(83, 80, 80);
}
body{
    background-color: black;
    color: white;
}